/*COLORS */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}

.logo {
  width: 3.25rem;
}

.search__input {
  width: 30%;
}

.search__icon {
  width: 2rem;
  height: 2rem;
}

.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
}

.user-nav__notification {
  background-color: orangered;
  display: inline-block;
  text-align: center;
  color: var(--color-white);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

.user-nav__user-photo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.container {
  background-color: var(--color-grey-light-1);
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
}

.header {
  background-color: var(--color-white);
  border-bottom: var(--color-grey-light-2);
  height: 7rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 18%;
  color: var(--color-white);
}

.hotel-view {
  background-color: orangered;
  flex: 1;
  color: var(--color-white);
}
