.container{
    background-color: var(--color-grey-light-1);
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width:$bp-largest){
        margin: 0;
        max-width: 100%;
    }




}

.header{
    background-color: var(--color-white);
    border-bottom: var(--line);
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    @media only screen and (max-width:$bp-smallest){
        height: 11rem;
        flex-wrap: wrap;
        align-content: space-around;
        
    }
}

.content{
    display: flex;

    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--color-grey-dark-2);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    flex: 1;

}



///////////////////////////////
/////  DETAILS

.details{
    font-size: 1.5rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width:$bp-medium){
            padding: 3rem;
     }

     @media only screen and (max-width:$bp-small){
        flex-direction: column;

    }
}

.description{
    margin-right: 4.5rem;
    flex: 0 0 60%;
    background-color: var(--color-white);
    box-shadow: 0 2rem 6rem rgba(0,0,0,.08);
    padding: 3rem;

    @media only screen and (max-width:$bp-medium){
        padding: 2rem;
        margin-right: 3rem;
 }

 @media only screen and (max-width:$bp-small){
    margin-right: 0;
    margin-bottom: 3rem;
}


}

.user-review{
    flex: 1;

   

    display: flex;
    flex-direction: column;
    align-items: center;
}